ion-col {

    border: none;
    color: #fff;
    text-align: center;
}

button {
    display: inline-block;
    height: 60px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 60px;
    background: none;
}
