<ion-content [fullscreen]="true">
  <section class="jumbotron">
    <div class="container">
      <img
        src="https://i.postimg.cc/rmnfctZc/Logo-Bulat-UNBIN.jpg"
        alt="profil"
        class="rounded-circle img-thumbnail"
      />
      <div class="info">
        <div class="mapouter"></div>
        <h2 class="display-4" style="color: rgb(0, 0, 0)">Resty Friska</h2>
        <p class="lead" style="color: rgb(1, 10, 18)">
          Sistem Informasi (S1-A)
        </p>
        <p class="lead" style="color: rgb(1, 10, 18)">Universitas Binaniaga</p>
      </div>
      <img
        src="https://i.postimg.cc/tJ57rLLJ/Picsart-22-11-07-20-35-37-115.png"
        alt="logo"
        width="100"
        class="rounded-circle img-thumbnail"
      />
    </div>
    <ion-grid>
      <ion-row>
        <ion-col class="ikaa">
          <h1>3.4</h1>
          <p>Ip Kumulatif</p>
        </ion-col>
        <ion-col class="ikaa">
          <h1>21</h1>
          <p>SKS Tempuh</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size-md="6"
          ><img src="https://cdn-icons-png.flaticon.com/512/3652/3652191.png" />
          <h5>Jadwal</h5></ion-col
        >
        <ion-col size md="6"
          ><img src="https://cdn-icons-png.flaticon.com/512/6612/6612108.png" />
          <h5>Presensi</h5></ion-col
        >
        <ion-col size md="12"
          ><img src="https://cdn-icons-png.flaticon.com/512/334/334345.png" />
          <h5>Nilai</h5></ion-col
        >
      </ion-row>

      <ion-row>
        <ion-col size-md="6"
          ><img src="https://cdn-icons-png.flaticon.com/512/5654/5654581.png" />
          <h5>Bahan&Tugas</h5></ion-col
        >
        <ion-col size md="6"
          ><img src="https://cdn-icons-png.flaticon.com/512/5833/5833290.png" />
          <h5>KRSS/KRS</h5></ion-col
        >
        <ion-col size md="12"
          ><img src="https://cdn-icons-png.flaticon.com/512/2231/2231642.png" />
          <h5>TA/Wisuda</h5></ion-col
        >
      </ion-row>

      <ion-row>
        <ion-col size-md="6"
          ><img src="https://cdn-icons-png.flaticon.com/512/6555/6555950.png" />
          <h5>Kegiatan</h5></ion-col
        >
        <ion-col size md="6"
          ><img src="https://cdn-icons-png.flaticon.com/512/1611/1611261.png" />
          <h5>Biaya Kuliah</h5></ion-col
        >
        <ion-col size md="12"
          ><img src="https://cdn-icons-png.flaticon.com/512/4151/4151025.png" />
          <h5>Kuesioner</h5></ion-col
        >
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
